.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
  height: 100%;
}

.title {
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.menu {
  display: flex;
}
.menuitems {
  display: flex;
  gap: 47px;
}

.menuitems a {
  font-size: 30px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

